@font-face {
  font-family: "Ubuntu";
  src:url("./fonts/UbuntuSans.ttf");
  font-family: "Ubuntu-Italic";
  src:url("./fonts/UbuntuSans-Italic.ttf");
}
:root {
	--textcol: #eeeeee;
	--bgcol: #252525;
}
* {
	font-family: Ubuntu;
	margin: 0px;
	cursor: none;
}
html {
	height: 100%;
	background-color: var(--bgcol);
}
body {
	height: 100%;
	background-image: linear-gradient(to bottom right, var(--bgcol), rgba(0,0,0,0.4));
}
p {
	color: var(--textcol);
	margin: 16px;
}
a {
	color: var(--textcol);
}
button {
	color: var(--textcol);
	background-color: var(--bgcol);
}
label {
	color: var(--textcol);
}
img {
	pointer-events: none;
	position: absolute;
}
i {
	font-style: normal;
	font-family: Ubuntu-Italic;
}
h1 {
	padding: 8px;
	font-size: 32px;
	text-align: center;
	color: var(--textcol);
}
textarea {
	resize: none;
}
.popup {
	display: flex;
	padding: 32px;
	background: var(--textcol);
	position: fixed;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	top: 35%;
	left: 35%;
	width: 30%;
	height: 15%;
	border-radius: 16px;
}
.hidden {
	display: none;
}
.popup p {
	color: var(--bgcol);
	text-align: center;
	font-size: 32px;
}
#reviewbox {
	padding: 32px;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	top: 35%;
	left: 25%;
	width: 50%;
	height: 15%;
}
#reviewbox div {
	margin: 8px;
	padding: 8px;
	border: solid;
	border-radius: 8px;
	border-color: var(--textcol);
}
#reviewbox p {
	margin: 4px;
	text-align: left;
}
#revtop {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#togglebox {
	width: 128px;
	text-align: center;
}
form {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	margin: auto;
}
form input {
	margin: 4px;
}
form div {
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header {
	display: flex;
	padding: 10px;
        text-align: center;
        justify-content: space-around;
	flex-direction: row;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 32px;
}
@media (max-width: 800px) {
header, footer  {
	flex-direction: column;
}
