@font-face {
  font-family: "Ubuntu";
  src:url("./fonts/UbuntuSans.ttf");
  font-family: "Ubuntu-Italic";
  src:url("./fonts/UbuntuSans-Italic.ttf");
}
:root {
	--textcol: #060612;
	--bgcol: #cccccc;
}
* {
	font-family: Ubuntu, Roboto, Arial, sans-serif;
	margin: 0px;
}
p {
	padding: 16px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: var(--textcol);
}
h1 {
	padding: 8px;
	font-size: 32px;
	text-align: center;
	color: var(--textcol);
}
h2 {
	padding: 8px;
	font-size: 24px;
	text-align: center;
	color: var(--textcol);
}
i {
	font-style: normal;
	font-family: Ubuntu-Italic;
}
header {
	display: flex;
	padding: 10px;
	background-color: var(--bgcol);
        text-align: center;
        justify-content: space-around;
}
body {
	background-color: var(--textcol);
	margin: 0px;
}
#uppergrad {
	background-image: linear-gradient(to bottom, var(--bgcol), #505050);
	padding: 0px;
}
#lowergrad {
	background-image: linear-gradient(to bottom, #505050, var(--textcol));
	padding: 0px;
}
#carousel {
	display: flex;
        text-align: center;
	justify-content: center;
	align-items: center;
}
#gallerygrid {
	display: flex;
	flex-wrap: wrap;
        justify-content: center;
}
.cropped {
	width: 256px;
	height: 256px;
	object-fit: cover;
	margin: 8px;
}
footer {
	display: flex;
	padding: 10px;
	color: var(--bgcol);
        text-align: center;
        justify-content: space-around;
}
header div, footer div {
	flex: 33;
	padding: 10px;
}
video, img {
	border-radius: 16px;
}
a:link {
	color: var(--textcol);
}
a:visited {
	color: var(--textcol);
}
footer a:link {
	color: var(--bgcol);
}
footer a:visited {
	color: var(--bgcol);
}
a:hover {
	color: #777777;
}
@media (max-width: 800px) {
header, footer  {
	flex-direction: column;
}
}
